/* Loading Bar Logic */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999;
}

.progress-bar-fill {
  height: 100%;
  background: var(--postair-primary);
  width: 30%;
  animation: loading-shimmer 2s infinite ease-in-out;
}

/* Structural Layout */
.app-main {
  /* padding-top: 2rem; */
 
  /* margin: 0 auto; */
}

@keyframes loading-shimmer {
  0% { width: 0%; left: 0%; }
  100% { width: 100%; left: 100%; }
}