<app-hero></app-hero>

<div #communityGrid class="home-container px-3 px-md-4" *ngIf="vm$ | async as vm" style="margin-top: 40px!important;">
  <header class="home-header mb-5">
    <app-search-bar (search)="onSearch($event)" [isAiActive]="isAiActive()"></app-search-bar>
  </header>

  <div class="home-content-layout d-flex flex-column flex-lg-row gap-4" *ngIf="vm.isAvailable">
    <div class="bento-grid-container flex-grow-1">
      <div class="bento-grid" id="community-post">
        @for (post of vm.posts; track post.uuid; let i = $index) {
        <div class="bento-item" (click)="openDetails(post.uuid!)" [attr.data-post-id]="post.uuid"
          [trackPreview]="post.uuid!">
          <app-post-card [post]="post" mode="card">
            <div actions>
              <button class="btn-fav ms-auto">
                <i class="bi bi-bookmark-plus"></i>
              </button>
            </div>
          </app-post-card>
        </div>
        }
        @if (vm.loading) {
        @for (i of [1, 2, 3]; track i) {
        <div class="bento-item">
          <app-skeleton-card></app-skeleton-card>
        </div>
        }
        }
      </div>
    </div>

    <app-ai-results-panel [aiState]="(aiResults$ | async) ?? { state: 'idle' }" (docSelected)="openDetails($event)">
    </app-ai-results-panel>
  </div>


  <app-empty-state [isAvailable]="vm.isAvailable" [hasNoPosts]="vm.posts.length === 0" [isLoading]="vm.loading"
    (retry)="ngOnInit()">
  </app-empty-state>

  <div class="status-footer py-5 text-center" *ngIf="vm.isAvailable">
    @if (vm.loading) {
    <app-loading-spinner size="sm" label="Fetching more insights..."></app-loading-spinner>
    }

    @if(vm.hasMore) {
    <div appInfiniteScroll (scrolled)="loadMore(vm.loading)" class="scroll-anchor"></div>
    } @else if (vm.posts.length > 0) {
    <div class="no-more-indicator">
      <hr class="w-25 mx-auto opacity-10">
      <p class="text-muted small fw-medium">No more posts at this time.</p>
    </div>
    }
  </div>

  <div class="immersive-overlay" [class.active]="isDrawerOpen()" (click)="closeDetails()">
    <div class="detail-container" (click)="$event.stopPropagation()">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<app-footer></app-footer>