/* // password-reset.component.scss */

.icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.bg-primary-subtle {
  background-color: rgba(99, 102, 241, 0.1) !important;
}

.bg-success-subtle {
  background-color: rgba(34, 197, 94, 0.1) !important;
}

.reset-container {
  /* Ensure the height doesn't "jump" too much when switching states */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
